.editModalWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    border: '2px solid #000';
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.editModalWrapper.closedModal{
    display: none;
}
.editModalContainer{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

.editModalHeader{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editModalHeader--title{
    flex-basis: 90%;
}
.editModalHeader--btn{
    flex-basis: 10%;
    font-size: 32px;
    transition: all .5s ease-in;
}
.editModalHeader--btn:hover{
    transform: scale(1.1);
    cursor: pointer;
    font-weight: bold
}
.editModalOldDatas{
    flex-basis: 20%;    
    width: 30%;
    display: flex;
    text-align: center;
    margin: 0 auto; 
}
.editModalOldTitle{
    font-weight: bold;
    margin: auto 15px;
    letter-spacing: 1px;
}
.editModalOldTime{
    letter-spacing: 1px;
    text-decoration: underline;
    margin: auto
}
.editModalOldArea{
    margin: auto 10px;
}
.formEditModal{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputEditModal {
    width: 400px;
    margin: 10px auto;
    text-align: center;
    height: 50px;
}

@media screen and (max-width: 900px){
    .editModalWrapper{
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 70vh;
    }
    .editModalContainer{
        height: calc(100% - 40px);
    }   
    .editModalHeader{
        height: 40px;
    }
    .editModalHeader--title{
        flex-basis: 80%;
    }
    .editModalHeader--btn{
        flex-basis: 20%;
        font-size: 22px;
    }
    .editModalOldDatas{
        flex-basis: 20%;    
        width: 100%;
    }
    .inputEditModal {
        width: 80%;
        margin: 5px auto;
        height: 30px;
    }
    .inputEditModalArea{
        margin-bottom: 50px;
    }
    
}