.filmList{
    list-style-type: none;
    margin-top: 10vh;
    margin-right: 50px;
}
.itemOfFilmList{
    margin: 15px auto;
    padding : 5px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.itemOfFilmListAlarm{
    margin: 15px auto;
    padding : 5px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

.filmTitle{
    font-weight: bold;
    flex-basis: 50%;
    text-align: left;
}
.filmTime{
    margin: 0 40px;
    flex-basis: 20%;
}
.filmArea{
    margin-right: 10px;
    flex-basis: 20%;
}
.btnIcons{
    flex-basis: 10%;
}
@media screen and (max-width: 900px){
    .filmList{
        margin-top: 5vh;
        margin-right: 20px;
    }
    .itemOfFilmList{
        margin: 5px auto;
        padding : 5px;
        text-align: center;
        font-size: 16px;
    }
    .itemOfFilmListAlarm{
        margin: 5px auto;
        padding : 5px;
        text-align: center;
        font-size: 14px;
        background-color: red;
    }
    .filmTitle{
        flex-basis: 40%;
    }
    .filmTime{
        margin: 0 15px;
        flex-basis: 10%;
    }
    .filmArea{
        margin-right: 5px;
        flex-basis: 20%;
    }
    .btnIcons{
        flex-basis: 30%;
        display: flex;
        font-size: 20px;
        justify-content: space-around;
        
    }

}