.App {
  text-align: center;
  position: relative;
}

.panel{
  margin: 0 auto;
  display: flex;
  width: 80vw;
  height: 60vh;
}
.panel-list{
  flex-basis: 50%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;

}
.panel-form{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 900px){
  .panel{
    width: 95vw;
    height: auto;
    flex-direction: column-reverse;
  }
  .panel-list{
    flex-basis: auto;
  }

}
